* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}


#container {

    width: 80%;
    margin: 0 auto;
   
    min-height: 70vh;

    margin-top: 10px;
}

header {
    background: rgb(0, 15, 36);
    background: linear-gradient(330deg, rgba(0, 15, 36, 1) 0%, rgba(9, 51, 121, 1) 36%, rgba(8, 70, 140, 1) 45%, rgba(0, 185, 255, 1) 100%);
    width: 100%;
    height: 20vh;
    font-family: 'Pokemon Solid', sans-serif;

}

body {

    background: rgb(0, 15, 36);
    background: linear-gradient(330deg, rgba(0, 15, 36, 1) 0%, rgba(9, 51, 121, 1) 36%, rgba(8, 70, 140, 1) 45%, rgba(0, 185, 255, 1) 100%) fixed;
   
}

header #content {
    width: 80%;
    margin: 0 auto;

    height: 20vh;
    display: grid;
    place-items: center;

}


@media screen and (max-width: 450px) {
  
    header h1 a{
        text-align: center;
        color: #d1b919;
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 6px;
        text-shadow: 2px 2px #3B4CCA;
   
    }
    
    #pesquisaC {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        border: rgba(172, 169, 169, 0.87);
        background-color: #d3d3d3;
        border-radius: 20px;
        outline: none;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    #pokemonArea {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }

    .pokemonCard {
       
        width: 250px;
        height: 380px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        margin-bottom: 20px;
        background-color: #d3d3d3ec;
        border-radius: 20px;
    
    }
    
}

@media  screen and (min-width: 451px) {

    #carregarMais:hover {
        color: #FFF;
        background-color: #091a9e;
        transition: 1s;
        border-color: #091a9e;
    }
    .pokemonCard:hover {
      
        bottom: 10px;
    }
    #pesquisaC {
        width: 95%;
        margin: 0 auto;
        text-align: center;
        border: rgba(172, 169, 169, 0.87);
        background-color: #d3d3d3;
        border-radius: 20px;
        outline: none;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    
    header h1 a{
        text-align: center;
        color: #d1b919;
        text-decoration: none;
        font-size: 40px;
        letter-spacing: 6px;
        text-shadow: 2px 2px #3B4CCA;
    }

    #pokemonArea {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
    gap:20px;
    
    }

    .pokemonCard {
       
        width: 250px;
        height: 380px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        background-color: #d3d3d3ec;
        border-radius: 20px;
        cursor: pointer;
    }

    
    
    
}


#pesquisaC svg {
    width: 25px;
    cursor: pointer;
}

#pesquisa {

    width: 100%;
    background-color: transparent;
    border: transparent;
    outline: none;
    font-size: 18px;
    color: #3B4CCA;

}

#pesquisa::placeholder{
    text-align: center;
    opacity: 0.5;
}

#pesquisar {
    background-color: transparent;
    border: none;

}

#pesquisar:hover svg {
    color: #FFF;
    transition: 0.5s;
}

 



.pokemonCard .id {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.5;
    display: block;
    margin-bottom: 15px;
}

.pokemonCard h3 {

    font-size: 30px;
    text-align: center;
    font-weight: 400;
    color: #313131;
    
}

img.pokeImage {
    width: 90%;
    /* background:red; */
}

.imageArea{
    margin-bottom: 15px;
    text-align: center;
}

footer {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    height: 10vh;
    background: rgb(0, 15, 36);
    background: linear-gradient(330deg, rgba(0, 15, 36, 1) 0%, rgba(9, 51, 121, 1) 36%, rgba(8, 70, 140, 1) 45%, rgba(0, 185, 255, 1) 100%);
    backdrop-filter: blur(20px);
}

.tipo {

    width: 50px;
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    margin-right: 5px;
    padding: 8px;
}



#erro {
    margin: 0 auto;
    color: #FFF;
    text-shadow: 2px 2px #000;
    display: inline;
    text-align: center;
}

#carregarMais {

    width: 150px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    border: #223af1 solid 2px;
    color: #223af1;
    height: 30px;
    line-height: 30px;
    
    
   
}

#buttonArea{
    width: 100%;
    text-align: center;
   margin:20px 0;
}





select#filter{
    border-radius:5px ;
    padding: 5px;
    color: #313131;
    font-family: 700;
}

#filterArea{

   
    margin-top: 20px;
    margin-left: 10px;
    width: 25%;
    display: flex;
    gap:10px;
}

#filter option{
    font-weight: 700;
    color: #313131;
}

#filtrar{
    width: 100px;
   
    background-color: #091a9e;
    cursor: pointer;
    font-weight: 700;
    border: #091a9e solid 1px;
    color: #FFF;
    height: 30px;
    line-height: 30px;
    
}

/* estilização por tipo */

.fire {
    background-color: #ff5e00;
}

.psychic{
    background-color: rgb(230, 8, 174);
}

.grass {

    background-color: green;

}
.fighting{
    background-color: rgb(255, 0, 0);
}

.ground {
    background-color: brown;
}

.electric {
    background-color: rgb(245, 245, 16);
}

.flying {
    background-color: rgb(130, 130, 243);
}

.normal {
    background-color: rgb(161, 175, 165);
}

.water {
    background-color: rgb(41, 41, 238);
}

.poison {
    background-color: rgb(161, 11, 161);
}

.ghost {
    background-color: rgb(80, 1, 80);
}

.steel {
    background-color: rgb(90, 90, 90);
}

.dragon {
    background-color: rgb(78, 203, 207);
}

.bug {
    background-color: rgb(18, 184, 18);
}

.rock {
    background-color: rgb(99, 68, 34);
}

.ice {
    background-color: rgb(135, 173, 216);
}

.dark{
    background-color: #000;
}

.fairy {
    background-color:rgb(182, 111, 196) ;
}


